<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685869129934-ftrnmk3mhn3vedmre9213qhs7guqsoa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685869129934-ftrnmk3mhn3vedmre9213qhs7guqsoa8</string>
	<key>API_KEY</key>
	<string>AIzaSyAGWS5sq5AiQ14QP_zIv6To8BCxjuX4PKs</string>
	<key>GCM_SENDER_ID</key>
	<string>685869129934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ekremozkaraca.Playground</string>
	<key>PROJECT_ID</key>
	<string>playground-1e8db</string>
	<key>STORAGE_BUCKET</key>
	<string>playground-1e8db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685869129934:ios:25fcadb90a46fa32eff09f</string>
</dict>
</plist>